<title>Daily Calorie Deficit Calculator</title>
  <h1>Calculate your daily calorie deficit!</h1>
    <img src="giphy.gif" border="0" align="right"/>
    Result that based on <b>basal metobolism rate</b> is <b>{{result1}}</b><br>
    If you don't exercise or little, result is <b>{{result2}}</b><br>
    If you exercise 2-3 times a week, result is <b>{{result3}}</b><br>
    If you exercise very intensely daily, result is <b>{{result4}}</b><br>
    <br>
    <br>
    <p style="color:grey ;font-size:8px;"><i>If the result is less than 0, it means you are losing weight. <br>
    If it is equal to 0, it means you are maintaining your weight. <br>
    If it's bigger, you're gaining weight. <br></i> </p>
    <br>
    
     
  <form action="compute" method="post">
        
        <textarea name="input1" rows="10" cols="17" placeholder="Nutritions values (seperate the nutrition values with new line character)"></textarea>
        <textarea name="input2" rows="1" cols="25" placeholder="Gender(male or female)"></textarea>
        <textarea name="input3" rows="1" cols="15" placeholder="Height(cm)"></textarea>
        <textarea name="input4" rows="1" cols="15" placeholder="Weight(kg)"></textarea>
        <textarea name="input5" rows="1" cols="10" placeholder="Age"></textarea>
        <br>
        <input type="submit">
  </form>
  <br>
  